<html>
  <head>
    <!-- Vuetify -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
    <link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet">
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vuetify/dist/vuetify.js"></script>
  </head>
  <body>
    <div id="app">
      <v-app>
        <v-toolbar>
          <v-toolbar-title>Chat App</v-toolbar-title>
          <v-spacer></v-spacer>
          <v-toolbar-items>
            <v-btn flat>Login</v-btn>
          </v-toolbar-items>
        </v-toolbar>
        <v-container fill-height>
          <v-layout column>
            <v-flex>
              <v-list v-for="msg in messageList" v-bind:key="msg.timestamp">
                <v-list-tile>
                  {{ msg.text }}
                </v-list-tile>
                <v-divider></v-divider>
              </v-list>
            </v-flex>
            <v-flex>
              <form v-on:submit.prevent="sendMessage">
                <v-layout>
                  <v-flex>
                    <v-text-field
                      label="Message"
                      v-model="message"
                      ></v-text-field>
                  </v-flex>
                  <v-flex xs1>
                    <v-btn flat icon color="blue"
                      v-on:click="sendMessage">
                      <v-icon>send</v-icon>
                    </v-btn>
                  </v-flex>
                </v-layout>
              </form>
            </v-flex>
          </v-layout>
        </v-container>
      </v-app>
    </div>
  </body>
  <style>
    .application--light .list {
      background: none;
    }

    .container.fill-height {
      align-items: flex-end;
    }
  </style>
  <script>
    new Vue({
      el: '#app',
      data: {
        message: '',
        messageList: [],
      },
      methods: {
        sendMessage() {
          const now = new Date()
          const messageObj = {
            text: this.message,
            timestamp: now.getTime()
          }
          this.messageList.push(messageObj)
          this.message = ''
        }
      }
    })
  </script>
</html>
